.element {
	width: 300px;
	height: 400px;
	border: 2px solid grey;
	background-color: #fff;
	color: #000;
	padding: 20px 30px;
	position: relative;
	left: 50%;
	margin-left: -150px;
	top: 50vh;
	margin-top: -200px;
	
}