.main-head {
	margin-top: 3%;
}
.main-logo-border {
	width: 155px;
	height: 55px;
	border: 3px solid #706b73;
	text-align: center;
	line-height: 49px;
}
.main-logo-border p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 36px;
	color: #706b73;
}
.color-logo {
	color: #fa9a87;
}
.main-nav-bar {
	position: relative;
	float: right;
	margin-top: 28px;
	width: 30px;
}
.line {
	display: block;
	width: 34px;
	height: 4px;
	background-color: #706b73;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
	-webkit-border-radius: 1.5px;
	-moz-border-radius: 1.5px;
	-ms-border-radius: 1.5px;
	-o-border-radius: 1.5px;
	border-radius: 1.5px;
}
.line:before {
	background-color: #706b73;
	position: absolute;
	right: 0;
	top: 50%;
	content: '';
	width: 34px;
	height: 4px;
	-webkit-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	transform: translateY(-10px);
	-webkit-border-radius: 1.5px;
	-moz-border-radius: 1.5px;
	-ms-border-radius: 1.5px;
	-o-border-radius: 1.5px;
	border-radius: 1.5px;
}
.line:after {
	background-color: #706b73;
	position: absolute;
	right: 0;
	top: 50%;
	content: '';
	width: 34px;
	height: 4px;
	-webkit-transform: translateY(6px);
	-ms-transform: translateY(6px);
	-o-transform: translateY(6px);
	transform: translateY(6px);
	-webkit-border-radius: 1.5px;
	-moz-border-radius: 1.5px;
	-ms-border-radius: 1.5px;
	-o-border-radius: 1.5px;
	border-radius: 1.5px;
}